In [1]:
import pyodbc
import pandas as pd

In [2]:
pyodbc.drivers()

['SQL Server',
 'MySQL ODBC 8.0 ANSI Driver',
 'MySQL ODBC 8.0 Unicode Driver',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [10]:
import mysql.connector

conn = mysql.connector.connect(host="localhost", user="root", passwd="admin",database="yelprawdata")

cur = conn.cursor()

cur.execute("create table friends(user_id varchar(25), friends varchar(25))")
conn.close()

In [4]:
'''
conn = pyodbc.connect(
    Trusted_Connection = 'Yes',
    Driver = '{ODBC Driver 17 for SQL Server}',
    Server = 'Local_instance_MySQL80',
    Database = 'yelprawdata')

cursor = conn.cursor()
'''

"\nconn = pyodbc.connect(\n    Trusted_Connection = 'Yes',\n    Driver = '{ODBC Driver 17 for SQL Server}',\n    Server = 'Local_instance_MySQL80',\n    Database = 'yelprawdata')\n\ncursor = conn.cursor()\n"

In [4]:
df = pd.read_csv("D:\RESEARCH FILES\My Research work\Yelp Dataset\yelp_friends.csv")

In [5]:
df.head()

                  user_id                                            friends
0  qVc8ODYU5SZjKXVBgXdI7w  NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...
1  j14WgRoU_-2ZE1aw1dXrJg  ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...
2  2WnXYQFK0hXEoTxPtV2zvg  LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...
3  SZDeASXq7o05mMNLshsdIA  enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...
4  hA5lMy-EnncsH4JoR-hFGQ  PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...

In [12]:
'''
cur.execute("create table tips(user_id varchar(25), business_id varchar(25), text longtext, date varchar(25), compliment_count varchar(25))")
'''

'\ncur.execute("create table tips(user_id varchar(25), business_id varchar(25), text longtext, date varchar(25), compliment_count varchar(25))")\n'

In [6]:
df.columns

Index(['user_id', 'friends'], dtype='object')

In [1]:
import mysql.connector
print('s1')

conn = mysql.connector.connect(host="localhost", user="root", passwd="admin",database="yelprawdata")
print('s2')

cur = conn.cursor()
print('s3')
#count = 0
for row in df.itertuples():
        cur.execute((row.user_id, row.friends))
        #print(count)
        #count += 1 
#print('s4')
conn.commit()

'\nimport mysql.connector\nprint(\'s1\')\n\nconn = mysql.connector.connect(host="localhost", user="root", passwd="admin",database="yelprawdata")\nprint(\'s2\')\n\ncur = conn.cursor()\nprint(\'s3\')\n#count = 0\nfor row in df.itertuples():\n        cur.execute((row.user_id, row.friends))\n        #print(count)\n        #count += 1 \n#print(\'s4\')\nconn.commit()\n'